/* about page styling */
h2 {
	font-size: 40pt;
	text-align: left;
	margin-top: 15px;
	text-transform: lowercase;
}

ul.links {
	margin: 0;
}

ul.links a,
ul.links a:hover {
	text-transform: uppercase;
}

ul.links a {
	color: #cc3366;
	display: inline-block;
}

.bullet-icon {
	width: 20px;
	padding-left: 30px;
	margin: 10px;
}

.image {
	margin: 5px;
}

/* contact form styling and hiding */
form,
label {
	font: 16pt/22pt "Open sans", Arial, sans-serif;
}

label {
	padding: 10px 0;
}

input[type="submit"] {
	border: 0;
	background: #cc3366;
	color: #fff;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
}

textarea {
	height: 200px;
}

#contact {
	height: 0;
	transition: height 2s;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font: 15pt/20pt "Open Sans", Arial, sans-serif;
	letter-spacing: 0;
}

#contact.goTo {
	height: 800px;
}